<a href="{{ 'https://scholar.google.co.uk/citations?user=xxxe7iMAAAAJ&hl=en' }}" class="google-scholar" target="_blank" rel="noopener noreferrer">
  <img src="{{ '/icon-google-scholar.png' | relative_url }}" alt="Google Scholar" class="google-scholar-icon">
  Google Scholar
</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{ 'https://github.com/MatteoMucciconi' }}" class="github" target="_blank" rel="noopener noreferrer">
  <img src="{{ '/icon-github-dark.png' | relative_url }}" alt="GitHub" class="github-icon">
  GitHub
</a>