@import 'header-styles.css';
@import 'footer-styles.css';

.wrapper {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main {
    display: flex;
  }

  .main-content {
    background-color: #d0e6eb; /* Change this color to your desired content area background color */
    padding: 30px; /* Adjust the padding value as needed */
    opacity: 90%;
  }
  
  
  
  /* Change body background color */
body {
    background-image: url('/images/musk-green.png'); /* Replace the path with the correct path to your image */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }
