@import 'header-styles.css';
@import 'footer-styles.css';
@import 'body-styles.css';


  /* Slideshow container */
.slideshow-container {
    max-width: 50%;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    background-color: green;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
.paper-figure {
  margin-top: 1.5em;
  text-align: center;
}

.paper-figure img {
  max-width: 70%;
  max-height: 60vh;
  background: white;
  padding: 0.5em;
  display: block;      
  margin: 0 auto;     
}


.paper-figure figcaption {
  font-size: 0.8em;
  color: #555;
  margin-top: 0.5em;
  text-align: center;
}








.figure-row {
  display: flex;
  gap: 1rem;
  margin-top: 0.8em;
  align-items: flex-start;
}

.small-figure {
  width: 150px;     /* controls size */
  margin: 0;
  text-align: center;
}

.small-figure img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.small-figure figcaption {
  font-size: 0.75em;
  color: #555;
  margin-top: 0.4em;
}

.paper .paper-abstract .figure-row {
  display: flex !important;
  gap: 1rem;
  margin-top: 0.8em;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.paper .paper-abstract .small-figure {
  flex: 0 0 150px;
  margin: 0;
}

