@import 'header-styles.css';
@import 'footer-styles.css';
@import 'body-styles.css';


  

  #young-tableau-applet {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .tableau-row {
    display: flex;
  }
  
  .tableau-cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 1px;
    cursor: pointer;
  }
  
  .tableau-cell.selected {
    background-color: #ff9c00;
  }
  