/* Change header background color */
.site-header {
  background-color: #221E1A; /* Replace with your preferred color */
}


header.site-header * {
  color: white !important;
}

@media screen and (max-width: 600px){
.site-nav .menu-icon > svg {
    fill: #e8e8e8;
}
  .site-nav {
      position: relative;
      top: 9px;
      right: 15px;
      background-color: #221E1A;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right;
  }
}

