





.grid-container {
  width: 80%; /* Set a width for the grid container */
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 4px;
}

.grid-item {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  text-align: center;
  line-height: 40px;
  font-family: Arial, sans-serif;
  font-size: 17px;
  user-select: none;
}


.orange {
  background-color: orange;
}

.gray {
  background-color: gray;
}

button {
  margin-top: 10px;
}
